.isOnline {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgb(55, 155, 55);
}

.isOffline {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgb(240, 67, 67);
}

.avatar {
    width: 90px;
    height: 90px;
    border: 1px solid #d5d1d1;
    border-radius: 10px;
}

.name {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2;
}